################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Yordi.EntityMultiSQL/obj
/Yordi.EntityMultiSQL/bin/Debug/net8.0
/.vs
/Yordi.EntityMultiSQL/.vs/Yordi.EntityMultiSQL
/Yordi.EntityMultiSQL/bin/Release
/Yordi.EntityMultiSQL/.vs/ProjectEvaluation
/Yordi.EntityMultiSQL/bin/Debug
/ReleaseAndNuget.ps1
