################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Saída de build (qualquer projeto, qualquer configuração, qualquer profundidade)
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.csproj.user

# Pacotes e scripts locais (não versionados)
/nupkg
/ReleaseAndNuget.ps1
